tests/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://garbage.hxsd.org/api/terms/1.0" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://garbage.hxsd.org/api/terms/1.0" elementFormDefault="qualified" version="1.0">
	<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PersonNameType">
		<xs:sequence>
			<xs:element name="first_name" type="nonEmptyString" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="person_name" type="PersonNameType"/>
</xs:schema>
